$blue-accent:#01a2dd;
$preorder-bg:#ef6524;
// $preorder-bg:#dd6401;
$green-accent:#27ae60;
$gray-accent:#f0f0f0;
$gray-accent-darken:#5c5c5c;
$orange-accent:#ff9320;


// Желтый цвет (из палитры)
.tttttt{
	color: #ff9320;
}

//Other colors
// #fff:#fff;

// #000:#000;
// #333:#333;
// #444:#444;
// #555:#555;
// #777:#777;
// #999:#999;


// #dedddd:#dedddd;
// #eee:#eee;
// #e6e6e6:#e6e6e6;
// #e5e5e5:#e5e5e5;